<div class="container">
  <div class="row">
    <div class="col vertical-third">
      <!--Top left-->

    </div>
    <div class="col vertical-third">
      <!--Top Middle-->

    </div>
    <div class="col vertical-third">
      <!--Top Right-->

    </div>
  </div>
  <div class="row">
    <div class="col vertical-third">
      <!--Mid left-->

    </div>
    <div class="col vertical-third">
      <!--Mid Middle-->
        <h1 style="font-weight: bolder; color: aquamarine">Owen Leduchowski</h1>
        <h4 style="color: gray">Full-Stack Developer</h4>
    </div>
    <div class="col vertical-third">
      <!--Mid Right-->

    </div>
  </div>
  <div class="row">
    <div class="col vertical-third">
      <!--Bot left-->

    </div>
    <div class="col vertical-third">
      <!--Bot Middle-->

    </div>
    <div class="col vertical-third">
      <!--Bot Right-->

    </div>
  </div>
</div>
